<div class="container-fluid">
  <ul class="list-group-flush">
    <li class="list-group-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['dashboard']">
        <i class="fas fa-tachometer-alt"></i><a>Dashboard</a>
    </li>
    <li class="list-group-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['reports']">
      <i class="fas fa-chart-line"></i><a>Reports</a>
    </li>
    <li class="list-group-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  [routerLink]="['archive']">
      <i class="far fa-eye"></i><a>Archive</a>
    </li>
    <li class="list-group-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['social']">
      <i class="far fa-comment"></i><a>Social</a>
    </li>
    <li class="list-group-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['users']">
      <i class="far fa-user-circle"></i><a>Users</a>
    </li>
    <li class="list-group-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['documents']">
      <i class="far fa-file"></i><a>Documents</a>
    </li>
    <li class="list-group-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['favorites']">
      <i class="far fa-star"></i><a>Favorites</a>
    </li>
    <li class="list-group-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['tools']">
      <i class="fas fa-tools"></i><a>Tools</a>
    </li>
    <li class="list-group-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['settings']">
      <i class="fas fa-cog"></i><a>Settings</a>
    </li>
  </ul>
</div>